<!-- <p>restaurants-list works!</p> -->
<div class="row">
    <h3><b>Restaurants</b></h3>
</div>
<div class="row">
    <div class="card">
        <div class="img-container">
            <img src="../../../assets/images/burger mania.jpg" class="card-img-top">
        </div>
        <div class="card-body">
            <div class="card-heading">
                <h3><b>Burger Mania</b></h3>
                <span>
                    <a href="#" class="open">Open Now</a>
                </span>
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit.Curabitur ultricies
                     quis lorem non mollis.<br>
                    Fusce nec est at sem interdum congue. Aliquam venenatis turpis ac ...</p>
            </div>

        </div>

    </div>
    <div class="card">
        <div class="img-container">
            <img src="../../../assets/images/burger mania.jpg" class="card-img-top">
        </div>
        <div class="card-body">
            <div class="card-heading">
                <span>
                    <h3><b>Burger Mania</b></h3>
                </span>
                <span> <a href="#" class="open ">Open Now</a>
                </span>
            </div>
            <div class="text">
                <pre>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Curabitur ultricies
quis lorem non mollis.
                    Fusce nec est at sem interdum congue. Aliquam venenatis turpis ac ...</pre>
            </div>
        </div>

    </div>
    <div class="card">
        <div class="img-container">
            <img src="../../../assets/images/burger mania.jpg" class="card-img-top">
        </div>
        <div class="card-body">
            <div class="card-heading">
                <span>
                    <h3><b>Burger Mania</b></h3>
                </span>
                <span>
                    <a href="#" class="open">Open Now</a>
                </span>
            </div>
            <div class="text">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing<br> elit.Curabitur ultricies
                     quis lorem non mollis.<br>
                    Fusce nec est at sem interdum congue. Aliquam venenatis turpis ac ...</p>
            </div>
        </div>

    </div>

</div>


<!-- <app-restaurants-item></app-restaurants-item> -->
<!-- <div class="row" id="filter-items">
                <div class="mx-auto items pizza">
                    <div class="card">
                        <div class="img-container" onclick="openModal(event)">
                            <img src="images/pizza1.jpg" alt="image"
                                class="card-img-top rounded-circle shadow store-img" id="pizza">
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <h4 class=" item-name justify-content-between text-capitalize"> margherita pizza</h4>
                                <h4 class="float-right">
                                    <span>Rs</span>
                                    <span>130</span>
                                </h4>
                            </div>
                        </div>
                    </div> -->