 <!-- <p>dashboard-navbar works!</p> -->
<ul class="nav">
    <ul class="nav flex-column bg-light">
        <li class="nav-item">
            <span>
                <img src="assets/images/path410.png">
                <b class="pomo">Pomo & Co</b>
            </span>
            <br>
            <br>
            <br>
            <a class="nav-link active" >
                <!-- <button type="button" class="btn btn-primary" id="btn"><i class="fas fa-home" id="home">Home</i></button> -->
                <span class="fonthome"><i class="fas fa-home" id="home"></i>Home</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" id="order">
                <span class="font"><i class="fa fa-list" aria-hidden="true"></i>Orders</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span><i class="fa fa-envelope" aria-hidden="true"></i>Notification</span>
                <span class="badge bage-primary font">2</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">
                <span class="font"><i class="fa fa-question" aria-hidden="true"></i>Help and Support</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#">
                <span class="font"><i class="fa fa-cog" aria-hidden="true"></i>Settings</span>
                </a>
        </li>
        
        <br>
        <br>
        <div class="card shadow-lg p-4 mb-4 bg-light"  style="width:250px; margin-left: 50px;">
            <button type="button" class="close" data-dismiss>&times;</button><br>

            <span class="far fa-clock clock-icon"></span>

            <div class="card-body">
                
                <h6 class="card-title"><b>Your Order is now Ready</b></h6>
                <p class="cart-text">Splint Doumo</p>
                <P class="cart-text">Order Id: #ED564F</P>
                <!-- <a class="btn btn-primary" href="https://google.com">Details</a> -->
                 <!-- <button type="button" class="btn">Details<i class="fa fa-arrow-right" aria-hidden="true"></i></button> -->

                 <span class="btn" id="detaisl">Details<i class="fa fa-arrow-right" aria-hidden="true"></i></span>
            </div>
        
        </div>
        <span><h6 class="ml-3"><b>Mark clarke</b><i class="fa fa-angle-up" aria-hidden="true"></i></h6></span>
        <span class="ml-3"><p>markclarke@gmail.com <i class="fa fa-angle-down" aria-hidden="true"></i></p></span>
       
    </ul>
    
    

</ul>
