<!-- <p>restaurant-category works!</p> -->
<div class="row">
      <h3 class="mr-5">Category</h3>
    </div>
    <br>
    <div class="row">
        <span>
            <img src="assets/images/Baked.png"><b>Baked</b>
        </span>
        <span>
            <img src="assets/images/Sweet.png"><b>Sweet</b>
        </span>
        <span>
            <img src="assets/images/Hot dish.png"><b>Hot Dish</b>
        </span>
        <span>
            <img src="assets/images/Fast Food.png"><b>Fast Food</b>
        </span>
        <span>
            <img src="assets/images/Salads.png"><b>Salads</b>
        </span>
    </div>
